<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Page</h1>
    <div>
        <h4>Results: <br> Number X: <b>{{num1}}</b> & Number Y: <b>{{num2}}</b> </h4>
        <ul>
            <li>Addition:<b>{{add}}</b></li>
            <li>Divison:<b>{{div}}</b> </li>
            <li>Modulus:<b>{{mod}}</b> </li>
            <li>Multiplication:<b>{{mul}}</b> </li>
            <li>Subtraction:<b>{{sub}}</b></li>
        </ul>
    </div>
    <br>
    {% load static %}
    <img src="{% static '/img/pic1.jpg' %}" width="500px" alt="My image">
</body>
</html>